<div class="container" style="width: 50%; height: 50%">
  <h1>Edit Employee</h1>
  <form [formGroup]='form?.formGroup' novalidate>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <div class="input-group">
        <input type="text" name="firstName" formControlName="firstName" class="form-control" [ngbTypeahead]="searchFirstNames$" [class.is-invalid]="form?.hasErrors('firstName')"
        />
      </div>
      <div class="invalid-feedback" *ngIf="form?.hasError('firstName', 'required')">
        First Name is required
      </div>
      <div class="invalid-feedback" *ngIf="form?.hasError('firstName', 'notInArray')">
        First Name is not in array
      </div>
    </div>
    <div class="form-group">
      <label class="col-form-label" for="endOfContract">End of Contract</label>
      <div class="form-group">
        <div class="input-group">
          <input ngbDatepicker #dateDp="ngbDatepicker" formControlName="endOfContract" name="endOfContract" class="form-control" [class.is-invalid]="form?.hasErrors('endOfContract')"
          />
          <div class="input-group-addon clickable" (click)="dateDp.toggle()">
            <div class="fa fa-calendar"> </div>
          </div>
        </div>
        <div class="invalid-feedback" *ngIf="form?.hasError('endOfContract', 'invalid')">
          End of Contrat is invalid
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-form-label" for="workdayStart">Workday Start</label>
      <ngb-timepicker formControlName="workdayStart" name="workdayStart" size="small" [spinners]='false' [class.is-invalid]="form?.hasErrors('workdayStart')"></ngb-timepicker>
      <div class="invalid-feedback" *ngIf="form?.hasError('workdayStart', 'required')">
        Workday start is required
      </div>
    </div>
    <div class="form-group">
      <label class="col-form-label" for="workdayEnd">Workday End</label>
      <ngb-timepicker formControlName="workdayEnd" name="workdayEnd" size="small" [spinners]='false' [class.is-invalid]="form?.hasErrors('workdayEnd')"></ngb-timepicker>
      <div class="invalid-feedback" *ngIf="form?.hasError('workdayEnd', 'required')">
        Workday end is required
      </div>
      <div class="invalid-feedback" *ngIf="form?.hasError('workdayEnd', 'intervalTooSmall')">
        Workday must last at least 30 minutes
      </div>
      <div class="invalid-feedback" *ngIf="form?.hasError('workdayEnd', 'totBeforeVan')">
        Workday cannot end before it starts
      </div>
    </div>
    <div class="form-group">
      <label class="custom-control custom-checkbox pull-left">
        <input type="checkbox" class="custom-control-input" formControlName="nightwork">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Nightwork</span>
      </label>
    </div>
  </form>

</div>